		<section class="box-content box" id="staff">
				<div class="row heading">
					<div class="col-lg-12">	
	            <h2>CONTACT US</h2>
	        </div>
        </div>
                
        <div class="container">
          <div class="panel-group" id="faqAccordion">
            <div class="large-font">Frequently Asked Questions</div>
            <br/>
              <div class="panel panel-default ">
                  
                  <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                      <h4 class="panel-title">
                          <a class="ing">Q: What is Momo?</a>
                    </h4>

                  </div>
                  <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                      <div class="panel-body">
                          <h5><span class="label label-primary">Answer</span></h5>

                          <p>Momo is a type of steamed dumpling with some form of filling. Momo has become a traditional 
                            delicacy in Nepal, Tibet and among Nepalese/Tibetan communities in Bhutan, as well as people of 
                            Sikkim state and Darjeeling district of India. It is one of the most popular fast foods in Nepal. 
                            Momos have also spread to other countries like United States (some parts), UK and India. 
                          </p>
                      </div>
                  </div>
              </div>
              <div class="panel panel-default ">
                  <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                      <h4 class="panel-title">
                          <a class="ing">Q: What types of Momos are available?</a>
                    </h4>

                  </div>
                  <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                      <div class="panel-body">
                          <h5><span class="label label-primary">Answer</span></h5>

                          <p>We serve four varieties of Momos. They are Vegetable, Vegetable C Momo, Chicken Momo and Chicken C Momo.</p>
                      </div>
                  </div>
              </div>
              <div class="panel panel-default ">
                  <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                      <h4 class="panel-title">
                          <a class="ing">Q: Can I choose the spiciness of the momo?</a>
                    </h4>

                  </div>
                  <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                      <div class="panel-body">
                          <h5><span class="label label-primary">Answer</span></h5>

                          <p>Our Momos are mild spicy. Please let us know if you want more spicy.</p>
                      </div>
                  </div>
              </div>
              <div class="panel panel-default ">
                  <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
                      <h4 class="panel-title">
                          <a class="ing">Q: How to order food?</a>
                    </h4>

                  </div>
                  <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                      <div class="panel-body">
                          <h5><span class="label label-primary">Answer</span></h5>

                          <p>You can order food either by calling us at 123-456-789 or submitting this form
                            <a class="page-scroll" [routerLink]="['/order']" style="color: blue">Order</a>
                          </p>
                      </div>
                  </div>
              </div>
              
          </div>


				<div class="row center">
					<div class="col-md-6">
            <img src="assets/images/call.png" class="responsive fluid"/>
            <div class="large-font">123-456-789</div>
					</div>
					<div class="col-md-6">
            <img src="assets/images/email.png" class="responsive fluid"/>
            <div class="large-font">sunita-prasai@gmail.com</div>
					</div>
				</div>
			</div>
		</section>
	
