		<section class="box-content box-2 box-style" id="menu">
			<div class="container">
				<div class="row heading">
					<div class="col-lg-12">	
						<h2>Menu</h2>
						<div class="intro">Momos are bite-size dumplings with a meat or vegetable filling, 
							wrapped in a dough accompanied by spicy dipping sauce.</div>
						<div>
							When it comes to simple, delicious, one-meal dishes of Nepal, you can't beat the famous 
							MOMOS म:म:  served with a variety of dipping sauces.</div>
	                </div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="box-item">
							<div class="col-sm-6">
								<div class="media"><img class="media__image " src="assets/images/menu-1.jpg">
								  <div class="media__body">
									<h2>$5</h2>
									<p>Only</p>
								  </div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="wrapper">
									<h3>Vegetable Momo</h3>
									<p>Vegetarian, predominantly made from paneer, onions and cabbage, and frequently curried. 
										Finely diced vegetables are also added, as well as various spices.</p>
									<a class="btn btn-3" href="#">Read More</a>
								</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="box-item">
							<div class="col-sm-6">
								<div class="media"><img class="media__image " src="assets/images/menu-2.jpg">
								  <div class="media__body">
									<h2>$6</h2>
									<p>Only</p>
								  </div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="wrapper">
									<h3>Vegetable C Momo</h3>
									<p>
										Vegetarian C Momo is basically spicy, hot and tomato goodness, predominantly made from paneer, onions and cabbage, and frequently curried. 
										Finely diced vegetables are also added, as well as various spices.
									</p>
									<a class="btn btn-3" href="#">Read More</a>
								</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="box-item">
							<div class="col-sm-6">
								<div class="media"><img class="media__image " src="assets/images/menu-3.jpg">
								  <div class="media__body">
									<h2>$5</h2>
									<p>Only</p>
								  </div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="wrapper">
									<h3>Chicken Momo</h3>
									<p>Chicken Momo, combined with minced chicken onions, shallots, garlic, and cilantro (coriander leaves). 
										The mixture is usually spiced with salt, pepper, and various spices.</p>
									<a class="btn btn-3" href="#">Read More</a>
								</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="box-item">
							<div class="col-sm-6">
								<div class="media"><img class="media__image " src="assets/images/menu-4.jpg">
								  <div class="media__body">
									<h2>$6</h2>
									<p>Only</p>
								  </div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="wrapper">
									<h3>Chicken C Momo</h3>
									<p>Chicken C Momo is basically spicy, hot and tomato goodness, combined with any or all of the following: onions, shallots, garlic, and cilantro (coriander leaves). 
										The mixture is usually spiced with salt, pepper, and various spices.</p>
									<a class="btn btn-3" href="#">Read More</a>
								</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
			</div>
		</section>