		<section class="box-content box" id="staff">
			<div class="container">
				<div class="row heading">
					<div class="col-lg-12">	
	                    <h2>SUPER CHEF</h2>
	                </div>
				</div>
				<div class="row center">
					<div class="col-md-6">
						<div class="wrap-img">
							<img src="assets/images/sunita.png" class="avatar img-fluid">
						</div>
						<ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
							<li><a href="#"><i class="fa fa-pinterest"></i></a>
                            </li>
                        </ul>
					</div>
					<div class="col-md-6">
						<div class="row">
							<h3>Introduction</h3>
							<p>Food Scientist from Nepal. Mother of two handsome sons. Husband is handsome too.
							    Studied Food Science ..............
							</p>
							<h3>Experience</h3>
							<p>Have Eaten lots of momo. lol</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	
