.text-center{
    text-align: center;
}

.large-font{
    font-size: 26px;
}

.medium-font{
    font-size: 20px;
}

.mt-10{
    margin-top: 10px;
}

.pl-25{
    padding-left: 25px;
}

.mt-5{
    margin-top: 5px;
}